/* styles.css */
body {
  font-family: 'Monaco';
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #5345a282, #1e50f582);
  color: #08024b;
  text-align: center;
}
h1 {
    font-size: 60px;
}